NEXT_PUBLIC_SUPABASE_URL=https://secure.almostcrackd.ai
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_M_xswaAEKZTJj9BCPkBxTA_2rfpKam8
ASSIGNMENT5_API_BASE_URL=https://api.almostcrackd.ai
ASSIGNMENT5_API_TOKEN=
